

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

table, td, th, tr{
  border: solid 1px;
}

table{
  width: 1000px;
  height: 100px;
  margin: 0 auto 0 auto;
  padding: 0;
}

<<<<<<< HEAD

=======
table, th, td{
  border: solid 5px
  border-collapse: collapse;
}
>>>>>>> parent of 18623f1 (keeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeesz)

tr{
  height: 50px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1150px){
  .footer{
      height: 50vh;
  }
}

@media screen and (max-width: 820px){
  .footer{
     padding-top: 2rem;
  }
}

.footer-container {
  background-color: #212329;
  padding-bottom: 2rem 0 4rem 0;
}
.footer {
  width: 80%;
  height: 40vh;
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2{
  margin-bottom: 2rem;
}

.footer-heading a{
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover{
  color: red;
  transition: 0.3s ease-out;
}




#Szolgáltatásaink{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #2c3e50;
}

.headings{
  text-align: center;
}
  
.row{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 700px;
  
  
}

.box{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(33, 42, 66) 50%, white 50%);
  background-size: 100% 200%;
  transition: all .8s;
}
.box:hover{
  background-position: left bottom;
  color: whitesmoke;
  border: none;
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
#áronelbasztanekem{
  text-align: center;
}



.logo1 {
  border-radius: 30%;
}

.text1{
margin-top: 200px;
}

.front-face,
.contents,.back-face{
  position: absolute;
}
.center{
  top: 73%;
  left: 80%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
 perspective: 1000px;
 display: flex;
}

.front-face, .back-face{
  height: 100%;
  width: 100%;
  text-align: center;
  background:url(Martin.jpg) ;
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}
.contents{
  left: 0%;
  top: 50%;
  width: 100%;
  perspective: 1000px;
  transform: translateY(-50%) translateZ(60px) scale(0.94);
}
.front p{
  font-size: 35px;
  margin-bottom: 15px;
  color: whitesmoke;
}
.front span{
  font-size: 28px;
  margin-bottom: 100px;
  color: whitesmoke;
}
.front p:after{
  content: '';
  display: block;
  left: 0;
  right: 0;
  width: 100px;
  height: 2px;
  background: whitesmoke;
  margin: 0 auto;
  margin-top: 10px;
}
.back-face{
  transform: rotateY(180deg);
  background: linear-gradient(45deg,#043348 0%,#032535 100%);
}
.back {
  color: white;
}
.back h2{
  font-size: 33px;
  padding-bottom: 5px;
}
.back span{
  font-size: 25px;
}

.center:hover > .back-face{
  transform: rotateY(0deg);
}
.center:hover > .front-face{
  transform: rotateY(-180deg);
}

.center2{

  top: 73%;
  left: 20%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
 perspective: 1000px;
 display: flex;
}

.front-face2{
  height: 100%;
  width: 100%;
  text-align: center;
  background:url(Bogi-rendes.jpg) ;
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}


.center2:hover > .back-face{
  transform: rotateY(0deg);
}
.center2:hover > .front-face2{
  transform: rotateY(-180deg);
}


.center3{

  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 290px;
  transform-style: preserve-3d;
 perspective: 1000px;
 display: flex;
}

.front-face3{
  height: 100%;
  width: 100%;
  text-align: center;
  background:url(Aron1.jpg) ;
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform .7s cubic-bezier(.4,.2,.2,1);
}


.center3:hover > .back-face{
  transform: rotateY(0deg);
}
.center3:hover > .front-face3 {
  transform: rotateY(-180deg);
<<<<<<< HEAD
}

.szoveg10{
  text-align: center;
  color: white;
margin-top: 10%;
}

.szoveg9{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.szoveg8{
  text-align: center;
  color: wheat;
  font-size: 30px;
}
=======
}
>>>>>>> parent of 18623f1 (keeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeesz)
